<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./css/styl.css" />
  </head>
  <body>
    <form class="form" method="POST">
      <h1 class="form__title">Zaloguj się</h1>
      <input
        class="form__field"
        placeholder="Username"
        type="text"
        name="username"
        id="username"
        autocomplete="off"
        required
      />
      <input
        class="form__field"
        placeholder="Password"
        type="password"
        name="password"
        id="password"
        required
      />
      <input class="form__submit" type="submit" value="Zaloguj się" />
      <p class="form__info">
        Nie masz konta? <a href="/register">Zarejestruj się</a>
      </p>
      <p class="form__info"><%= locals.msg %></p>
    </form>
  </body>
</html>
